/**
 * User: CHT
 * Date: 2020/7/16
 * Time: 13:40
 */

:root {

  // Brand Color
  --color-primary            : #4060BF;

  // Functional Color
  --color-success            : #22A519;
  --color-warning            : #D0680B;
  --color-danger             : #942D02;
  --color-info               : #0B7E86;

  // Font Color
  --color-text-primary       : #303133;
  --color-text-regular       : #92abcf;
  --color-text-secondary     : #909399;
  --color-text-placeholder   : #C0C4CC;

  // Border Color
  --border-color-base        : #DCDFE6;
  --border-color-light       : #E4E7ED;
  --border-color-lighter     : #EBEEF5;
  --border-color-extra-light : #F2F6FC;

  // Background Color
  --backgroud-color-white    : #FFFFFF;
  --backgroud-color-black    : #000000;
  --background-color-base    : #212C3D;
  --background-color-current : rgba(33, 44, 61, 0.8);

  --header-font-color        : #92ABCF;
  --header-hover-font-color  : #FFFFFF;

  --header-height            : 40px;
}
